# Python
__pycache__/
*.py[cod]
.venv/
venv/
dbt-env/

# dbt
target/
dbt_packages/
logs/

# DuckDB
*.duckdb
*.duckdb.wal

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Environment files
.env